#title {
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(113, 192, 185);
    text-align: center;
    width: 100%;
  }
#image {
    height: auto;
    width: 500px;
}

header {
    width: 100%; /*Establish the header to cover 100% of the document*/
    overflow: hidden; /*Delete float errors*/
    background: #252932;
    margin-bottom: 20px;
}

.wrapper {
    margin: auto;
    overflow: hidden;
}

header .logo {
    color:#f2f2f2;
    font-size: 15px;
    line-height: 40px;
    float: none;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#recipe-list {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    color: #d4d4d4;
}
#container {
    text-align: center;
}

#menu-outer {
    height: 360px;
    background: #505b74;
}

.table {
    display: table;
    margin: 0 auto;
}

ul {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#list {
    float: left;
}

#list a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

img {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px;
    border-color: #505b74;
    border-style: solid;
}
figcaption {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: beige;
}

li a:hover {
    background-color: rgba(0, 0, 0, 0.123);
}

.ul {
    text-align: center;
    align-items: center;
}

#sub {
    text-decoration: underline;
}

.footer {
    background: cornflowerblue;
    width: 100%; /*Establish the header to cover 100% of the document*/
    overflow: hidden; /*Delete float errors*/
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    color: #252932;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image {
    width: 100%; /*Establish the header to cover 100% of the document*/
    overflow: hidden; /*Delete float errors*/
    margin-bottom: 20px;
    text-align: center;
}

.content {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(196, 196, 196);
    color: rgb(36, 34, 34);
    padding: 15px;
}

#ingredients {
    border-color: black;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    color: brown;
    background: rgb(226, 214, 165);
    text-align: center;
    padding-bottom: 30px;
}